<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= Gon::Base.render_data %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class="logo">
      <% if @current_user %>
        <%= link_to("TODO","/posts/index")%>
      <% else %>
        <%= link_to("TODO","/")%>
      <% end %>
    </div>
    <ul class="menu">
      <% if @current_user %>
        <li><%= link_to(@current_user.name,"/users/#{@current_user.id}")%></li>
        <li><%= link_to("TODO-LIST","/posts/index")%></li>
        <li><%= link_to("ログアウト","/users/logout",{method:"post"}) %></li>
      <% else %>
        <li><%= link_to("about","/about")%></li>
        <li><%= link_to("新規登録","/users/new") %></li>
        <li><%= link_to("ログイン","/users/login_form") %></li>
      <% end %>
    </ul>
  </header>
  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <body>
    <%= yield %>
  </body>
</html>
