
<div class="show">
  <% if @post.deadline %>
    <div class="deadline">
      <div class="deadline-time">
        締め切り：<%= @post.deadline.strftime("%Y-%m-%d %H:%M") %>
      </div>
      <div class="deadline-time">
        <% if @deadline >= 0 %>
          残り時間：<%= @post.define_deadline %>
        <% else %>
          残り時間：<%= @post.define_deadline %> 過ぎています！
        <% end %>
      </div>
    </div>
  <% end %>
  <p><%= @post.content %></p>
  <ul class="show-menu cf">
    <li><%= link_to("完了","/completions/#{@post.id}/complete",{method:"post"}) %></li>
    <li><%= link_to("削除","/posts/#{@post.id}/delete",{method:"post"}) %></li>
    <li><%= link_to("編集","/posts/#{@post.id}/edit") %></li>
    <li><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></li>
  </ul>
</div>
